@use "~@wordpress/base-styles/variables" as *;

.wp-block-omniform-select-option {
	margin-block-start: 0.75em;

	.options-nested & {
		margin-left: calc($icon-size + $grid-unit);
	}

	.rich-text {
		display: inline-block;
	}
}
