<?xml version="1.0"?>
<phpunit
	bootstrap="phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="PluginWP Test Suite">
			<directory suffix=".php">./phpunit/</directory>
			<exclude>./phpunit/test-sample.php</exclude>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory>./</directory>
			<exclude>
				<directory suffix=".php">build</directory>
				<directory suffix=".php">node_modules</directory>
				<directory suffix=".php">phpunit</directory>
				<directory suffix=".php">vendor</directory>
				<directory suffix=".php">includes/Dependencies</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>