<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	bootstrap="phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertDeprecationsToExceptions="true"
	>
  <coverage includeUncoveredFiles="true">
    <include>
      <directory>./</directory>
    </include>
    <exclude>
      <directory suffix=".php">build</directory>
      <directory suffix=".php">includes/BlockLibrary/BlockPatterns</directory>
      <directory suffix=".php">node_modules</directory>
      <directory suffix=".php">phpunit</directory>
      <directory suffix=".php">vendor</directory>
      <directory suffix=".php">vendor_prefixed</directory>
      <file>scoper.inc.php</file>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="unit">
      <directory suffix="Test.php">./phpunit/unit/</directory>
    </testsuite>
  </testsuites>
</phpunit>
