@import "~@wordpress/base-styles/variables";

.wp-block-omniform-field-select {

	> .omniform-field-control {
		overflow: auto;

		&.components-resizable-box__container {
			max-height: unset;
			overflow: unset;

			> div {
				height: 100%;
				overflow: auto;
			}
		}

		> .omniform-select-options-container {
			// 1px spacing so the is-selected box-shadow is not cutoff from overflow.
			padding: 1px 1.25em 1px 1px;
		}
	}


	&.omniform-field-select.is-selected .omniform-field-control,
	&.omniform-field-select.has-child-selected .omniform-field-control,
	&.omniform-field-select.type-multiple .omniform-field-control {
		background-image: none !important;
	}

	&.type-multiple .omniform-field-control > .omniform-select-options-container > .wp-block:first-child {
		margin-block-start: 0;
	}
}
