@import "~@wordpress/base-styles/variables";

.wp-block-omniform-field-select {

	&.is-selected.omniform-field-select .omniform-field-control,
	&.has-child-selected.omniform-field-select .omniform-field-control,
	&.type-multiple.omniform-field-select .omniform-field-control {

		background-image: none;
	}

	> .omniform-select-options-container > .wp-block:first-child {
		margin-block-start: 0;
	}

	.block-list-appender {
		position: unset;
		padding: $grid-unit 0;
		margin-block-start: 0.75em;
	}

	.block-editor-button-block-appender.components-button {
		padding: $grid-unit;
	}
}
