@import "../shared/mixins";

.wp-block-omniform-field-select {

	@include defaults;
	@include reset;
	@include field-label;
	@include field-control;

	width: 100%;

	&.omniform-field-select .omniform-field-control:not([multiple]) {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%238b96a0' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
		background-repeat: no-repeat;
		background-position: right 0.9em center;
		background-size: 14px 10px;
	}
}
