.wp-block-omniform-label,
.wp-block-omniform-label > *,
label.wp-block-omniform-label[for],
label.wp-block-omniform-label > * {
	display: inline;
	margin: 0;

	img {
		vertical-align: middle;
		margin: 0 0.25em;
	}

	&[data-range-value]::after {
		content: '(' attr(data-range-value) ')';
		display: inline-block;
		font-size: .8em;
		margin-left: 0.25em;
	}
}

.wp-block-omniform-label .omniform-field-required {
	margin-left: 0.75em;
}
