@import "~@wordpress/base-styles/variables";

.wp-block-omniform-captcha {

	iframe {
		display: block;
	}

	&-placeholder {
		display: flex;
		padding: $grid-unit-15;
		gap: $grid-unit-15;
		flex-direction: row;
		align-items: flex-start;
		font-size: 1rem;

		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			pointer-events: none;
			border: $border-width dashed currentcolor;
		}

		svg {
			fill: currentcolor;
			flex-shrink: 0;
		}
	}
}

