.wp-block-omniform-field-input {

	input:disabled {
		pointer-events: none;
	}

	.omniform-field-control {
		color: var(--omniform--color--contrast);

		&:focus {
			box-shadow: none;
			border: 1px solid var(--omniform--color--border);
		}
	}

	&.omniform-field-hidden {

		> * {
			opacity: 0.62;
		}

		.omniform-field-label {
			color: var(--omniform--color--contrast);
		}

		.omniform-field-control {
			border: 1px dashed currentcolor;
		}
	}
}

.block-editor-block-preview__content-iframe .wp-block-omniform-field-input.omniform-field-hidden {
	display: none;
}
