.wp-block-omniform-field-input {

	input:disabled {
		pointer-events: none;
	}

	.omniform-field-control {
		color: var(--wp--preset--color--foreground, var(--wp--preset--color--contrast));

		&:focus {
			box-shadow: none;
		}
	}

	&.omniform-field-hidden {

		> * {
			opacity: 0.62;
		}

		.omniform-field-label {
			color: var(--wp--preset--color--foreground, var(--wp--preset--color--contrast));
		}

		.omniform-field-control {
			border-style: dashed;
		}
	}
}
