.wp-block-omniform-field-input {

	.omniform-field-control {
		color: var(--wp--preset--color--cyan-bluish-gray);

		&.rich-text [data-rich-text-placeholder]::after {
			opacity: 1;
		}
	}

	&.omniform-field-hidden {

		.omniform-field-label {
			color: var(--wp--preset--color--cyan-bluish-gray);
		}

		.omniform-field-control {
			border-style: dashed;
		}
	}
}
