@import "../shared/mixins";

.wp-block-omniform-field-input {

	@include defaults;
	@include field-label;
	@include field-control;

	// Checkbox and Radio
	&.omniform-field-checkbox,
	&.omniform-field-radio {
		align-items: center;
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: nowrap;
		justify-content: flex-end;

		.omniform-field-label {
			margin-bottom: 0;
		}

		.omniform-field-control {
			flex-shrink: 0;
			width: 1em;
			height: 1em;
			padding: 0;
			margin: 0 0.5em 0 0;

			&[type="radio"] {
				border-radius: 100%;
			}

			&:checked {
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				background-color: var(--wp--preset--color--contrast, var(--wp--preset--color--foreground, var(--wp--preset--color--cyan-bluish-gray, #000)));
				border-color: transparent;

				&::before,
				&::after {
					content: none;
				}
			}

			&[type="checkbox"]:checked {
				background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
			}

			&[type="radio"]:checked {
				background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
			}
		}
	}

	&.omniform-field-radio .omniform-field-control {
		border-radius: 100%;
	}

	// Color selector
	&.omniform-field-color {

		.omniform-field-control {
			padding: 0.5em;
			height: 2.625em;
		}
	}

	// Range
	&.omniform-field-range {

		.omniform-field-control {
			// font-size + line-height + border width
			height: calc(var(--wp--preset--font-size--normal) + 1.5em + 2px);
			padding: 0;
			margin: 0;
			background-color: transparent;
			border: none;

			&:focus {
				outline: 0;
				box-shadow: none;

				&::-moz-range-thumb,
				&::-webkit-slider-thumb {
					outline: 0;
					box-shadow: 0 0 0 2px var(--wp--preset--color--base, var(--wp--preset--color--background)), 0 0 0 4px var(--wp--preset--color--primary);
				}
			}

			&::-moz-range-thumb,
			&::-webkit-slider-thumb {
				width: 1em;
				height: 1em;
				background-color: var(--wp--preset--color--contrast, var(--wp--preset--color--foreground, var(--wp--preset--color--cyan-bluish-gray, #000)));
				border: 0;
				border-radius: 1em;
				appearance: none;
			}

			&::-moz-range-track,
			&::-webkit-slider-runnable-track {
				width: 100%;
				height: 1em;
				color: transparent;
				cursor: pointer;
				background-color: var(--wp--preset--color--white);
				border: 1px solid var(--wp--preset--color--contrast, var(--wp--preset--color--foreground, var(--wp--preset--color--cyan-bluish-gray, #000)));
				border-radius: 1rem;
			}
		}
	}
}

// Consecutive checbox and radio inputs should appear as related.
:not(.is-layout-flex) {

	> .omniform-field-checkbox + .omniform-field-checkbox,
	> .omniform-field-radio + .omniform-field-radio {
		margin-top: 0.5em;
	}
}
