@import "../shared/mixins";

.wp-block-omniform-field-input {

	@include defaults;
	@include field-label;
	@include field-control;

	flex-grow: 1;

	// Checkbox and Radio
	&.omniform-field-checkbox,
	&.omniform-field-radio {
		align-items: center;
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: nowrap;
		justify-content: flex-end;

		.omniform-field-label {
			margin-bottom: 0;
		}

		.omniform-field-control {
			flex-shrink: 0;
			width: 1em;
			height: 1em;
			padding: 0;
			margin: 0 0.5em 0 0;

			&[type="radio"] {
				border-radius: 100%;
			}

			&::before,
			&::after {
				content: none;
			}

			&[type="checkbox"],
			&[type="radio"] {
				position: relative;

				&::before {
					content: "";
					display: block;
					opacity: 0;
					position: absolute;
					top: -1px;
					bottom: -1px;
					left: -1px;
					right: -1px;
					height: auto;
					width: auto;
					margin: 0;
					background-color: var(--omniform--color--accent);
				}
			}

			&:checked::before {
				opacity: 1;
			}

			&[type="checkbox"]::before {
				border-radius: 0.25em;
				mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M20 0H0v20h20V0Zm-4.44 8.06a1.5 1.5 0 0 0-2.12-2.12L8.5 10.878l-1.94-1.94a1.5 1.5 0 1 0-2.12 2.122l3 3a1.5 1.5 0 0 0 2.12 0l6-6Z' clip-rule='evenodd'/%3E%3C/svg%3E");
			}

			&[type="radio"]::before {
				border-radius: 100%;
				mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M20 0H0v20h20V0Zm-8 10a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z' clip-rule='evenodd'/%3E%3C/svg%3E");
			}
		}
	}

	&.omniform-field-radio .omniform-field-control {
		border-radius: 100%;
	}

	// Color selector
	&.omniform-field-color {

		.omniform-field-control {
			padding: 0.5em;
			height: 2.625em;
		}
	}

	// Range
	&.omniform-field-range {

		.omniform-field-control {
			// font-size + line-height + border width
			height: calc(var(--wp--preset--font-size--normal) + 1.5em + 2px);
			padding: 0;
			margin: 0;
			background-color: transparent;
			border: none;

			&:focus {
				outline: 0;
				box-shadow: none;

				&::-moz-range-thumb,
				&::-webkit-slider-thumb {
					outline: 0;
					box-shadow: 0 0 0 2px var(--omniform--color--base), 0 0 0 4px var(--omniform--color--accent);
				}
			}

			&::-moz-range-thumb,
			&::-webkit-slider-thumb {
				width: 1em;
				height: 1em;
				background-color: var(--omniform--color--accent);
				border: 0;
				border-radius: 1em;
				appearance: none;
			}

			&::-moz-range-track,
			&::-webkit-slider-runnable-track {
				width: 100%;
				height: 1em;
				color: transparent;
				cursor: pointer;
				background-color: var(--omniform--color--base);
				border: 1px solid var(--omniform--color--border);
				border-radius: 1rem;
			}
		}
	}
}

// Consecutive checbox and radio inputs should appear as related.
:not(.is-layout-flex) {

	> .omniform-field-checkbox + .omniform-field-checkbox,
	> .omniform-field-radio + .omniform-field-radio {
		margin-top: 0.5em;
	}
}
