.wp-block-omniform-hidden {
	appearance: none;
	background-color: transparent;
	border-radius: 0.25em;
	border-width: 1px;
	border-style: dashed;
	border-color: currentcolor;
	box-sizing: border-box;
	display: block;
	font-size: inherit;
	line-height: inherit;
	max-width: none;
	min-height: auto;
	padding: 0.5em 0.75em;
	color: currentcolor;
}