@import "~@wordpress/base-styles/variables";
@import "~@wordpress/base-styles/mixins";
@import "~@wordpress/base-styles/breakpoints";

.components-panel__body.is-opened.omniform-view-responses__panel {
	padding: 0;
	height: $grid-unit-60;

	.components-button {
		padding: $grid-unit-20;
		width: 100%;
		height: 100%;
		font-weight: 600;

		&:hover,
		&:active {
			background: $gray-100;
		}

		&:focus {
			box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
			border-radius: 0;
		}
	}
}

.block-editor-form__selection-modal {

	.block-library-form__selection-content {
		padding-top: $grid-unit-20;
	}

	.block-editor-block-patterns-list {
		column-count: 2;
		column-gap: $grid-unit-30;

		@include break-wide() {
			column-count: 3;
		}

		.block-editor-block-patterns-list__list-item {
			break-inside: avoid-column;
		}
	}
}

// Hide the response notification when the form is not selected
.wp-block-omniform-form:not(.has-child-selected):not(.is-selected) .wp-block-omniform-response-notification {
	display: none;
}
