@import "~@wordpress/base-styles/variables";
@import "~@wordpress/base-styles/mixins";
@import "~@wordpress/base-styles/breakpoints";

.components-panel__body.is-opened.omniform-view-responses__panel {
	padding: 0;
	height: $grid-unit-60;

	.components-button {
		padding: $grid-unit-20;
		width: 100%;
		height: 100%;
		font-weight: 600;

		&:hover,
		&:active {
			background: $gray-100;
		}

		&:focus {
			box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
			border-radius: 0;
		}
	}
}

.block-editor-form__selection-modal {

	.block-library-form__selection-content {
		padding-top: $grid-unit-20;
	}

	.components-modal__frame {

		@include break-small() {
			width: calc(100% - #{ $grid-unit-20 * 2 });
			height: calc(100% - #{ $header-height * 2 });
		}

		@include break-medium() {
			width: $break-medium - $grid-unit-20 * 2;
		}

		@include break-large() {
			height: 70%;
		}
	}
}

.block-editor-block-preview__content-iframe {

	.block-editor-iframe__body.post-type-omniform .block-editor-block-list__layout.is-root-container,
	.block-editor-block-list__layout.is-root-container .wp-block-omniform-form {

		padding: var(--wp--style--block-gap, var(--global--spacing-vertical, 1.5em));

		> * {
			margin-block-start: 0;
			margin-block-end: 0;
		}

		> * + * {
			margin-block-start: var(--wp--style--block-gap, var(--global--spacing-vertical, 1.5em));
			margin-block-end: 0;
		}
	}
}
