@import "~@wordpress/base-styles/variables";
@import "~@wordpress/base-styles/mixins";
@import "~@wordpress/base-styles/breakpoints";

.components-panel__body.is-opened.omniform-view-responses__panel {
	padding: 0;
	height: $grid-unit-60;

	.components-button {
		padding: $grid-unit-20;
		width: 100%;
		height: 100%;
		font-weight: 600;

		&:hover,
		&:active {
			background: $gray-100;
		}

		&:focus {
			box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
			border-radius: 0;
		}
	}
}

.block-editor-form__selection-modal {

	.block-library-form__selection-content {
		padding-top: $grid-unit-20;
	}

	.block-editor-block-patterns-list {
		column-count: 2;
		column-gap: $grid-unit-30;

		@include break-wide() {
			column-count: 3;
		}

		.block-editor-block-patterns-list__list-item {
			break-inside: avoid-column;
		}
	}
}

// Hide the response notification when the form is not selected
.wp-block-omniform-form:not(.has-child-selected):not(.is-selected) .wp-block-omniform-response-notification {
	display: none;
}

// Make the form preview a little bit nicer.
.block-editor-block-preview__content-iframe .wp-block-omniform-form > .wp-block-group,
.block-editor-block-preview__content-iframe .post-type-omniform .is-root-container > .wp-block-group {
	padding: 5em;
}

.wp-block-omniform-input:not(.rich-text)::after,
.wp-block-omniform-select > div:first-of-type:not(.rich-text):not(.block-editor-block-list__layout)::before {
	content: ".";
	visibility: hidden;
}

.block-editor-block-list__block.with-omniform-overlay:not(.has-child-selected) {

	* {
		pointer-events: none;
	}

	&::before {
		content: "";
		position: absolute;
		pointer-events: none;
		top: -1em;
		right: -1em;
		bottom: -1em;
		left: -1em;
		background: linear-gradient(135deg, #ffd500, #d92e83, #842ed9);
		background-size: 300% 300%;
		animation: gradientMove 5s infinite ease-in-out, pulse 3s infinite ease-in-out;
		filter: blur(2em);
	}
}

@keyframes gradientMove {

	0%,
	100% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}
}

@keyframes pulse {

	0%,
	100% {
		transform: scale(0.98);
		opacity: 0.25;
	}

	50% {
		transform: scale(1.02);
		opacity: 0.15;
	}
}
