.wp-block-inquirywp-form {
	border: 2px solid #f00;
	padding: 20px;

	button[type="submit"] {
		background-color: var(--wp--preset--color--primary);
		border-radius: 0;
		border: none;
		color: var(--wp--preset--color--background);
		font-size: var(--wp--preset--font-size--medium);
		padding: calc(0.667em + 2px) calc(1.333em + 2px);
	}
}
