.wp-block-omniform-form {
	--omniform--color--base: var(--wp--preset--color--base, var(--wp--preset--color--background, var(--wp--preset--color--white, #fff)));
	--omniform--color--contrast: var(--wp--preset--color--contrast, var(--wp--preset--color--foreground, var(--wp--preset--color--black, #000)));
	--omniform--color--accent: var(--wp--preset--color--accent, var(--omniform--color--contrast));
	--omniform--color--border: rgba(0, 0, 0, 0.25);

	&.is-dark {
		--omniform--color--base: var(--wp--preset--color--contrast, var(--wp--preset--color--foreground, var(--wp--preset--color--black, #000)));
		--omniform--color--contrast: var(--wp--preset--color--base, var(--wp--preset--color--background, var(--wp--preset--color--white, #fff)));
		--omniform--color--border: rgba(255, 255, 255, 0.25);
	}

	body.is-dark & {
		--omniform--color--base: var(--wp--preset--color--base, var(--wp--preset--color--background, var(--wp--preset--color--white, #fff)));
		--omniform--color--contrast: var(--wp--preset--color--contrast, var(--wp--preset--color--foreground, var(--wp--preset--color--black, #000)));
		--omniform--color--accent: var(--wp--preset--color--accent, var(--omniform--color--contrast));
		--omniform--color--border: rgba(255, 255, 255, 0.25);

		&:not(.is-dark) {
			--omniform--color--contrast: var(--wp--preset--color--base, var(--wp--preset--color--background, var(--wp--preset--color--white, #fff)));
			--omniform--color--base: var(--wp--preset--color--contrast, var(--wp--preset--color--foreground, var(--wp--preset--color--black, #000)));
			--omniform--color--border: rgba(0, 0, 0, 0.25);
		}
	}

	> * {
		margin-block-start: 0;
		margin-block-end: 0;
	}

	> * + * {
		margin-block-start: var(--wp--style--block-gap, var(--global--spacing-vertical, 1.5em));
		margin-block-end: 0;
	}
}
