.wp-block-inquirywp-form,
.post-type-inquirywp_form {
	font-size: var(--wp--preset--font-size--normal);
	line-height: 1.5;

	[class*="inquirywp"] *,
	[class*="inquirywp"]::before,
	[class*="inquirywp"]::after {
		box-sizing: border-box;
		border-width: 0;
		border-style: solid;
		border-color: currentcolor;
		border-radius: 0;
	}

	.inquirywp-field-label,
	legend {
		display: inline-block;
		margin: 0 0 0.5em;
		padding: 0;
		font-size: var(--wp--preset--font-size--normal);
	}

	.inquirywp-field-support {
		margin: 0.25em 0 0;
		font-size: 0.875em;
		color: var(--wp--preset--color--black);
		opacity: 0.5;
		width: 100%;
	}

	.inquirywp-field-control {
		display: block;
		width: 100%;
		max-width: none;
		padding: 0.5em 0.75em;
		font-size: var(--wp--preset--font-size--normal);
		line-height: 1.5;
		border: 1px solid var(--wp--preset--color--cyan-bluish-gray);
		background-color: var(--wp--preset--color--white);
		box-sizing: border-box;
		appearance: none;
		border-radius: 0.25em;
	}

	.wp-block-inquirywp-field-input,
	.wp-block-inquirywp-field-select,
	.wp-block-inquirywp-field-textarea {
		width: 100%;
	}

	// Checkbox and Radio
	.inquirywp-field-checkbox,
	.inquirywp-field-radio {
		display: flex;
		flex-wrap: wrap;

		.inquirywp-field-label {
			order: 1;
			margin-bottom: 0;
			width: calc(100% - 1.5em);
		}

		.inquirywp-field-support {
			order: 2;
			margin-left: calc(1.5em + 2px);
		}

		.inquirywp-field-control {
			order: 0;
			width: 1em;
			height: 1em;
			padding: 0;
			margin: 0.25em 0.5em 0 0;

			&[type="radio"] {
				border-radius: 100%;
			}

			&:checked {
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				background-color: var(--wp--preset--color--contrast);
				border-color: transparent;

				&::before,
				&::after {
					content: none;
				}
			}

			&[type="checkbox"]:checked {
				background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
			}

			&[type="radio"]:checked {
				background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
			}
		}
	}

	.inquirywp-field-select .inquirywp-field-control:not([multiple]) {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%238b96a0' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
		background-repeat: no-repeat;
		background-position: right 0.9em center;
		background-size: 14px 10px;
	}

	// Checkbox and Radio
	.inquirywp-field-color {

		.inquirywp-field-control {
			padding: 0.5em;
			height: 2.625em;
		}
	}

	.wp-block-inquirywp-fieldset {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;
		padding: 0;
		border-width: 0;

		legend + * {
			margin-top: 0.5em;
		}
	}
}

// Consecutive checbox and radio inputs should appear as related.
:not(.is-layout-flex) {

	> .inquirywp-field-checkbox + .inquirywp-field-checkbox,
	> .inquirywp-field-radio + .inquirywp-field-radio {
		margin-top: 0.5em;
	}
}
