@import "../shared/mixins";

.wp-block-omniform-select,
select.wp-block-omniform-select {

	@include field-control;

	width: 100%;

	&[multiple] {
		height: 230px;
		background-image: unset;
	}

	&:not([multiple]) {
		background-repeat: no-repeat;
		background-position: right 0.9em center;
		background-size: 14px 10px;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");

		&.is-style-inverted {
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
		}
	}
}
