@use "~@wordpress/base-styles/colors" as *;
@use "~@wordpress/base-styles/variables" as *;
@use "~@wordpress/base-styles/mixins" as *;
@use "~@wordpress/base-styles/breakpoints" as *;
@use "~@wordpress/dataviews/build-style/style" as *;

@import "@wordpress/admin-ui/build-style/style.css";

#omniform {
	position: relative;
	z-index: 1;
}

#omniform .field__avatar img {
	border-radius: 100%;
	height: 32px;
	width: 32px;
	object-fit: cover;
}
