@import "../shared/mixins";

.wp-block-omniform-input {

	@include field-control;

	&[type="range"] {
		appearance: auto;
		background-color: transparent;

		// Slider Track
		&::-moz-range-track,
		&::-webkit-slider-runnable-track {
			background-color: currentcolor;
		}

		// Slider Thumb
		&::-moz-range-thumb,
		&::-webkit-slider-thumb {
			background-color: currentcolor;
			border: none;
		}

		// Progress (filled portion of the track)
		&::-moz-range-progress {
			background-color: currentcolor;
		}
	}

	// Color
	&[type="color"] {
		overflow: hidden;
		background: none;
		flex-shrink: 0;
		flex-grow: unset;
		width: 3.2em;
		height: 1.6em;
		padding: 0;

		&::-moz-color-swatch-wrapper,
		&::-webkit-color-swatch-wrapper {
			display: block;
			border: none;
			padding: 0;
		}

		&::-moz-color-swatch,
		&::-webkit-color-swatch {
			border: none;
			width: 100%;
			height: 100%;
		}
	}

	// Checkbox and Radio
	&[type="checkbox"],
	&[type="radio"] {
		position: relative;
		flex-shrink: 0;
		flex-grow: unset;
		width: 1em;
		height: 1em;
		padding: 0;
		margin: 0;

		&[type="radio"] {
			border-radius: 100% !important;
		}

		&[type="checkbox"] {
			border-radius: 0.25em !important;
		}

		&::after {
			content: none;
		}

		&::before {
			content: "";
			display: block;
			opacity: 0;
			position: absolute;
			top: -1px;
			bottom: -1px;
			left: -1px;
			right: -1px;
			height: auto;
			width: auto;
			margin: 0;
			background-color: currentcolor;
		}

		&:checked::before {
			opacity: 1;
		}

		&[type="checkbox"]::before {
			border-radius: 0.25em !important;
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M20 0H0v20h20V0Zm-4.44 8.06a1.5 1.5 0 0 0-2.12-2.12L8.5 10.878l-1.94-1.94a1.5 1.5 0 1 0-2.12 2.122l3 3a1.5 1.5 0 0 0 2.12 0l6-6Z' clip-rule='evenodd'/%3E%3C/svg%3E");
		}

		&[type="radio"]::before {
			border-radius: 100%;
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M20 0H0v20h20V0Zm-8 10a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z' clip-rule='evenodd'/%3E%3C/svg%3E");
		}
	}
}

// Fix the width of input fields in the previews
.block-editor-block-preview__content-iframe .wp-block-omniform-input:not([type="checkbox"]):not([type="radio"]) {
	min-width: 200px;
}
