@use "~@wordpress/base-styles/colors" as *;
@use "~@wordpress/base-styles/variables" as *;

.omniform-quick-start {
	font-size: $default-font-size;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	max-width: var(--wp--style--global--content-size, 620px);
	text-align: left;
	margin: 0 auto;
	color: $gray-900;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: $grid-unit-20;

	// Some editor styles unset this.
	-moz-font-smoothing: subpixel-antialiased;
	-webkit-font-smoothing: subpixel-antialiased;

	// Block UI appearance.
	border-radius: $radius-block-ui; // Match the block toolbar material radius.
	background-color: $white;
	box-shadow: inset 0 0 0 $border-width $gray-900;
	outline: 1px solid transparent; // Shown for Windows 10 High Contrast mode.

	&__step {
		padding-top: $grid-unit-30;
		padding-bottom: $grid-unit-30;
		width: 100%;
	}

	&__title {
		text-align: center;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1;
		padding: $grid-unit-10 $grid-unit-30;

		> svg {
			display: block;
			margin: 0 auto;
		}
	}

	&__subtitle {
		text-align: center;
		font-size: 0.8125rem;
		color: $gray-700;
		padding: 0 $grid-unit-30 $grid-unit-30;
	}

	&__option {
		height: 150px;
		width: 180px;
		padding: 0;
		line-height: 1.4;
		outline: 2px solid $gray-200;
		border-radius: 8px;

		&-title {
			font-size: 0.875rem;
			font-weight: 700;
			padding: 0 1rem;
		}

		&-description {
			font-size: 0.75rem;
			color: $gray-700;
			padding: 0 1rem;
		}

		&.is-pressed {
			outline: none;
		}

		&.is-pressed &-description {
			color: $gray-200;
		}

		> .components-flex {
			margin: 0 auto;
		}
	}

	&__buttons {
		padding-top: $grid-unit-30;

		&-back {
			margin-left: $grid-unit-30;
		}

		&-finish {
			margin-right: $grid-unit-30;
		}
	}
}
