@import "../shared/mixins";

.wp-block-inquirywp-fieldset {

	@include defaults;
	@include reset;
	@include field-label;

	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	padding: 0;
	border-width: 0;

	legend + * {
		margin-top: 0.5em;
	}
}
