@import "../shared/mixins";

.wp-block-omniform-fieldset {

	@include field-label;

	margin-left: 0;
	margin-right: 0;
	padding: 0;
	border-width: 0;
	border-color: currentcolor;

	> .omniform-field-label,
	legend.omniform-field-label {
		margin-bottom: 0;
	}

	legend.omniform-field-label {
		display: contents;
	}

	> .omniform-field-label + div {
		margin-top: 0.5em;
	}
}
