@import "../shared/mixins";

.wp-block-omniform-fieldset {

	@include defaults;
	@include field-label;

	margin-left: 0;
	margin-right: 0;
	padding: 0;
	border-width: 0;

	legend.omniform-field-label {
		float: left;
		width: 100%;
		margin-bottom: 0;
	}

	legend + * {
		clear: both;
	}
}
