@mixin field-label {

	.omniform-field-label {
		font-size: inherit;
		margin: 0 0 0.5em;
		padding: 0;
	}

	.omniform-field-label .omniform-field-required {
		padding: 0 0.25em;
	}

	.omniform-field-label,
	.omniform-field-required {

		align-items: center;
		display: inline-flex;
		gap: 0.25em;
		box-sizing: border-box;

		strong,
		em {
			display: contents;
		}
	}
}

@mixin focus-styles {
	box-shadow: none;

	&,
	&::before {
		transition-duration: 0.1s;
		transition-property: background-color, border-color, box-shadow, color, opacity, outline, outline-offset;
		transition-timing-function: ease-in-out;
	}

	outline: 0 solid transparent;
	outline-offset: -2px;

	&:focus, &:focus-visible {
		outline: 2px solid currentcolor;
		outline-offset: 2px;
	}

	&:not(.has-custom-border):focus {
		border-color: transparent;
	}

	.editor-styles-wrapper &:focus {
		outline: unset;
		outline-offset: unset;
		border-color: unset;
	}
}

// Base styles for all fields controls.
@mixin field-control {
	appearance: none;
	background-color: transparent;
	border-radius: 0.25em;
	border-width: 1px;
	border-style: solid;
	border-color: currentcolor;
	box-sizing: border-box;
	display: block;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	max-width: none;
	min-height: auto;
	padding: 0.5em 0.75em;
	margin: 0;
	color: currentcolor;

	@include focus-styles;
}
