@mixin defaults {
	font-size: var(--wp--preset--font-size--normal);
	line-height: 1.5;
}

@mixin field-label {

	.omniform-field-label {
		display: inline-block;
		font-size: var(--wp--preset--font-size--normal);
		margin: 0 0 0.5em;
		padding: 0;
	}
}

@mixin field-control {

	.omniform-field-control,
	input[type="file"] {
		appearance: none;
		background-color: var(--wp--preset--color--white);
		border-radius: 0.25em;
		border: 1px solid var(--wp--preset--color--cyan-bluish-gray);
		box-sizing: border-box;
		display: block;
		font-size: var(--wp--preset--font-size--normal);
		line-height: 1.5;
		max-width: none;
		padding: 0.5em 0.75em;
		width: 100%;
	}
}
