/**
 * Color fallback chain:
 *
 * BASE:
 * 1. --wp--preset--color--base
 * 2. --wp--preset--color--background
 * 3. transparent
 *
 * CONTRAST:
 * 1. --wp--preset--color--contrast
 * 2. --wp--preset--color--foreground
 * 3. currentColor
 */

$base-color: var(--wp--preset--color--base, var(--wp--preset--color--background, transparent));
$contrast-color: var(--wp--preset--color--contrast, var(--wp--preset--color--foreground, currentColor));

@mixin field-label {

	.omniform-field-label,
	legend.omniform-field-label {
		font-size: inherit;
		margin: 0 0 0.5em;
		padding: 0;
	}

	.omniform-field-label .omniform-field-required {
		padding: 0 0.25em;
		color: var(--wp--preset--color--vivid-red, "#cf2e2e");
	}

	.omniform-field-label,
	.omniform-field-required,
	legend.omniform-field-label {

		align-items: center;
		display: inline-flex;
		gap: 0.25em;

		strong,
		em {
			display: contents;
		}
	}
}

@mixin focus-styles {
	box-shadow: none;

	&,
	&::before {
		transition-duration: 0.1s;
		transition-property: background-color, border-color, box-shadow, color, opacity, outline, outline-offset;
		transition-timing-function: ease-in-out;
	}

	outline: 0 solid transparent;
	outline-offset: -2px;

	&:focus {
		outline: 2px solid #{$contrast-color};
		outline-offset: 2px;
	}

	.editor-styles-wrapper &:focus {
		outline: unset;
		outline-offset: unset;
	}
}

// Base styles for all fields controls.
@mixin field-control {
	appearance: none;
	background-color: #{$base-color};
	border-radius: 0.25em;
	border-width: 1px;
	border-style: solid;
	border-color: currentcolor;
	box-sizing: border-box;
	display: block;
	font-size: inherit;
	line-height: inherit;
	max-width: none;
	min-height: auto;
	padding: 0.5em 0.75em;
	margin: 0;
	color: #{$contrast-color};

	@include focus-styles;

	&.is-style-inverted {
		color: #{$base-color};
		background-color: #{$contrast-color};
	}
}
