@import "../shared/mixins";

.wp-block-omniform-button {

	@include defaults;

	.wp-element-button:focus {
		outline: 0;
		box-shadow: 0 0 0 2px var(--wp--preset--color--base, var(--wp--preset--color--background, var(--wp--preset--color--white, #fff))), 0 0 0 4px var(--omniform--color--accent);
	}

	&.is-style-outline > .wp-element-button {
		border: 2px solid currentcolor;
		color: currentcolor;
		background-color: transparent;
		background-image: none;
	}
}
