@import "../shared/mixins";

.wp-block-omniform-button {

	.wp-element-button {
		align-items: center;
		display: inline-flex;
		gap: 0.5em;
		word-break: normal;

		@include focus-styles;

		strong,
		em {
			display: contents;
		}
	}
}
