name: Static Analysis

on:
  pull_request:
  push:
    branches:
      - master

jobs:

  lint_php:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/restore-composer-cache
      - run: composer install
      - run: composer run lint


  lint_js:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/restore-npm-cache
      - run: npm install
      - run: npm run lint-js

  lint_css:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/restore-npm-cache
      - run: npm install
      - run: npm run lint-css
